html {
  background-color: #fff;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: 1px;
}

/* ACTIVITY LIST STYLING */
.pre-scrollable {
  border: solid black 1px;
  margin-bottom: 40px;
}

.btnDelete {
  margin: 0 70px 0 20px;
}

.activity {
  border: solid black 1px;
}

.activityListContainer {
  margin: 80px 20px 10px 20px;
}

.activityListHeader {
  margin-bottom: 20px 0 30px 0;
  text-align: center;
}

ul {
  list-style: none;
}

.activity__note {
  background-color: rgb(230, 230, 230);
}

/* FORM STYLING  */
.btnGroup {
  text-align: center;
}
/* FORM START STYLING */
.activityFormContainer {
  margin: 0 10% 0 10%;
}

.formStart,
.formEnd {
  margin: 80px 30px 10px 30px;
}

.startButton {
  margin-right: 20px;
}

.text-center {
  margin: 10px auto 60px auto;
}

.formHeading {
  margin: 30px auto 60px auto;
}

.formLabel {
  margin-bottom: 15px;
}

.dropdown {
  margin-bottom: 50px;
}

.formHeadline {
  margin-bottom: 40px;
}
/* FORM END STYLING */
.form_note {
  margin-bottom: 40px;
}

.btnLog {
  margin-right: 69px;
}

/* CHART STYLING */
.chartContainer {
  margin-bottom: 40px;
}

.bad {
  background-color: red;
}

.emojiContainer {
  font-size: 110px;
  text-align: center;
  color: #000;
  
  
}

.emojiContainer :hover {
  color: rgb(26, 26, 26);
}

.btn--9:hover > .emojiContainer {
  color: green;
}

/* .activityListItem {
  
} */

.activityStartContainer {
  margin: 0 4% 0 4%;
}

/* home style */
.btn-home {
  margin-right: 5%;
}

.home-btn__group {
  text-align: center;
  margin-top: 5%;
}

.home-heading {
  margin-top: 15%;
}

.spinner {
  background-image: url("https://i.pinimg.com/236x/ec/b8/ac/ecb8ac4e23f1e4309eda0cecf2c3f5da.jpg");
  width: 55px;
  height: 55px;
  margin-left: 10px;
  background-size:contain;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  transform: rotate(3deg);
   transform: rotate(0.3rad);
   transform: rotate(3grad);
   transform: rotate(.03turn); 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}